For else
While else
Break
Continue
Pass

In [1]:
for i in range(10):
    print(i)
else:
    print("Loop has been finished")

0
1
2
3
4
5
6
7
8
9
Loop has been finished

In [2]:
for i in range(10):
    print(i)
    if i ==5:
        break

0
1
2
3
4
5

In [4]:
n = 0
while n < 10:
    n += 1
    if n % 3 == 0:
        print("Before Continue")
        continue
        print("After")

Before Continue
Before Continue
Before Continue

In [7]:
for i in range(10):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8

In [8]:
def somefunc():
    pass
 

print("hello")

hello

Data Collection Data Types
-Data Types that can handle more than 1 value
    - Lists // Array
    - Sets
    - Tuples
    - Dictionaries

Lists

In [9]:
Student_names = ["Maira", "Vasyl", "Nara", "Asel", "Mit"]
print(Student_names)

['Maira', 'Vasyl', 'Nara', 'Asel', 'Mit']

In [11]:
Student_names = ["Maira", "Vasyl", "Nara", "Asel", "Mit"]
print(Student_names[2:])

['Nara', 'Asel', 'Mit']

In [13]:
Student_names = ["Maira", "Vasyl", "Nara", "Asel", "Mit"]
print(Student_names)
Student_names.append("Guliza") # Append will always add to the back of the list
print(Student_names)
Student_names.insert(2, "Gul")
print(Student_names)

['Maira', 'Vasyl', 'Nara', 'Asel', 'Mit']
['Maira', 'Vasyl', 'Nara', 'Asel', 'Mit', 'Guliza']
['Maira', 'Vasyl', 'Gul', 'Nara', 'Asel', 'Mit', 'Guliza']

In [18]:
student_names = ["Maira", "Mithat", "Nara", "Asel", "Guliza"]
for name in student_names:
    print(name[0])

M
M
N
A
G

In [23]:
lst = [10, 20, 30, 40, 33, 22, 45, 78, 90]

sum = 0  

for number in lst:
    sum += number

print(sum)

368

In [25]:
lst = [10, 21, 32, 40, 33, 21,45, 78, 90]

sumofeven = 0
sumofodd = 0

for number in lst:
    if number % 2 == 0 :
        sumofeven += number
    else:
        sumofodd += number
print(sumofeven, sumofodd)

250 120

In [29]:
lst = [10, 21, 32, 5, 6, 40, 33, 21, 1, 45, 78,-1, 90]

# lst.sort() #----- Changes the original list
#lst.sort(reverse=True)
print(sorted(lst)) # --- Doesnt change the original list
print(lst)

[-1, 1, 5, 6, 10, 21, 21, 32, 33, 40, 45, 78, 90]
[10, 21, 32, 5, 6, 40, 33, 21, 1, 45, 78, -1, 90]

In [43]:
list =["string",12, [1,["hello", "world"],3]]
print(list[-1][1][0])

hello

In [45]:
lst = [1,2,3,4,5]
lst2 = lst # ------ same list
lst3 = lst[::] # ----CREATE SECOND(another) LIST WITH SAME INPUT
lst4 = lst.copy() # ---Create another list with same input as lst
del lst[3]

print(lst2)
print(lst3)
print(lst4)

[1, 2, 3, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [46]:
lst = [1,2,3,4,5]

# lst.index(5)
lst.pop() #---- opposite of end (removes from end)
lst.pop(2) #-- you can redirect to take out the number you want
lst.append([1,2,3,4]) #---
lst.insert()
lst += (1,2,3,4) # -- adds to the same list

4

In [ ]:
# Strings, Tuples, Integer,Booleyan, Floats(cant change)
# Lists, Dictionary - Mutable
# Immutability -- 
# Tuples

In [48]:
string = "hello"

string[0] ="H"

TypeError: 'str' object does not support item assignment

In [50]:
tupl = ("hello", 1, 2, 12)

tupl2 = 1,4,5

print(type(tupl))
print(type(tupl2))

<class 'tuple'>
<class 'tuple'>

List comprehension

In [56]:
lst= []
for i in range(100):
    if i % 2 == 0:
        lst.append(i)

print(lst)

lst2= [num**2 for num in range(10) if num % 2 == 0]
print(lst2)

lst3 = [num for i in range(3) for num in range(3)]
print(lst3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[0, 4, 16, 36, 64]
[0, 1, 2, 0, 1, 2, 0, 1, 2]

Tuple Comprehension

In [55]:
tupl = tuple(num for num in range(10))
print(tupl)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)